 .u-section-1 {
  background-image: url("../static/images/Untitled-1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 720px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Lato, sans-serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: 71px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 720px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 530px;
  margin-top: 110px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 61.92%;
    min-height: 594px;
  }

  .u-section-1 .u-image-1 {
    height: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 706px;
  }

  .u-section-1 .u-image-1 {
    height: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-1 .u-image-1 {
    height: 327px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 535px;
  font-weight: 700;
  margin: 80px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  width: 852px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 201px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 29px 20px;
}

.u-section-2 .u-icon-1 {
  width: 54px;
  height: 54px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  animation-duration: 1000ms;
  margin: -10px auto 0 20px;
  padding: 5px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 29px 20px;
}

.u-section-2 .u-icon-2 {
  width: 54px;
  height: 54px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  animation-duration: 1000ms;
  margin: -10px auto 0 20px;
  padding: 5px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 29px 20px;
}

.u-section-2 .u-icon-3 {
  width: 54px;
  height: 54px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  animation-duration: 1000ms;
  margin: -10px auto 0 20px;
  padding: 5px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 29px 20px;
}

.u-section-2 .u-icon-4 {
  width: 54px;
  height: 54px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  animation-duration: 1000ms;
  margin: -10px auto 0 20px;
  padding: 5px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 166px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 167px;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 0 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 11px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 554px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  height: 463px;
  width: 610px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
  padding: 10px 52px 10px 51px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 301px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 28px 27px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 457px;
    background-position: 50% 50%;
    background-size: auto 110%;
  }

  .u-section-3 .u-image-1 {
    height: 389px;
    width: 512px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 248px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-3 .u-image-1 {
    height: 243px;
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 753px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 458px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: Lato, sans-serif;
  margin: 0 135px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 458px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 221px;
  width: 221px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 17px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 276px;
}

.u-section-5 .u-list-1 {
  margin-top: -144px;
  margin-bottom: 10px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
  min-height: 410px;
  grid-gap: 32px 32px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 1px;
}

.u-section-5 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 35px 11px 0;
}

.u-section-5 .u-text-2 {
  margin: 24px 10px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 1px;
}

.u-section-5 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 35px 11px 0;
}

.u-section-5 .u-text-4 {
  margin: 24px 10px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 1px;
}

.u-section-5 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 35px 11px 0;
}

.u-section-5 .u-text-6 {
  margin: 24px 10px 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 1px;
}

.u-section-5 .u-line-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 35px 11px 0;
}

.u-section-5 .u-text-8 {
  margin: 24px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 24px));
    min-height: 283px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 867px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 53px;
  }
}
